body {
  background-color: blue;
}

header {
  box-shadow: 2px 3px 10px white;
}

#blaagaard {
  width: 100%;
}

img {
  max-width: 100%;
}

.logo {
  max-width: 5rem;
}

.nav-knapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  width: 100px;
  text-decoration: none;
  border-bottom: none;
}

nav ul {
  display: flex;
  gap: 20px;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  text-align: center;
}
a:hover {
  color: black;
}

li {
  list-style: none;
  gap: 1rem;
  border-bottom: 1px solid white;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}

h1 {
}

p {
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 0.93;
}

footer {
  box-shadow: -2px -3px 10px white;
}

footer a {
  color: white;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  text-align: center;
}
footer li {
  list-style: none;
  border-bottom: none;
}

footer h3 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

footer h4 {
  color: white;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 1rem;
}

footer p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 0.93;
}

@media (min-width: 600px) {
  .footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  .grid-gruppe {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }

  .grid-some-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
  }
  .grid-some-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  footer ul {
    display: flex;
    flex-direction: column;
  }
}
