* {
  all: unset;
  display: revert;
  cursor: revert;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

.nav-knapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  width: 100px;
  text-decoration: none;
  border-bottom: none;
  max-width: 5rem;
  margin: 20px;
}

body {
  background-color: blue;
}

header {
  box-shadow: 2px 3px 10px white;
  margin-bottom: 70px;
}

nav ul {
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 20px;
}

a {
  color: white;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  text-align: center;
}
a:hover {
  color: black;
}

li {
  list-style: none;
  gap: 20px;
  /*border-bottom: 1px solid white;*/
  text-shadow: 0 0 10px rgb(249, 4, 163);
  font-weight: bold;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 0.93rem;
}

footer {
  box-shadow: -2px -3px 10px white;
  margin-top: 70px;
}

footer a {
  color: white;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  text-align: center;
  text-shadow: none;
}
footer li {
  list-style: none;
  border-bottom: none;
}

footer h3 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 1.4rem;
  margin: 20px;
}

footer h4 {
  color: white;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  margin: 20px;
}

footer p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 0.93rem;
  margin: 20px;
}

@media (min-width: 600px) {
  footer {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
  }

  .grid-gruppe {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  a {
    font-size: 1.2rem;
  }
  footer h3 {
    justify-content: left;
  }

  .logo {
    max-width: 10rem;
  }
  header a {
    font-size: 1.3rem;
    margin-right: 20px;
  }
}
