.BOOK {
  text-align: center;
  color: white;
  text-shadow: 0 0 10px rgb(249, 4, 163);
  margin-top: 25px;
}

.BOOK a {
  font-size: 1.5rem;
  color: white;
}

#screen {
  margin: 20px;
}

.blaagaard {
  width: 100%;
}

@media (min-width: 600px) {
  .f-landing {
    justify-content: space-evenly;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
  }
  .flex-col :last-child {
    margin-top: auto;
    justify-content: space-between;
  }
  .footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  footer ul {
    display: flex;
    flex-direction: column;
  }
}
