.BOOK {
  text-align: center;
  color: white;
  text-shadow: 0 0 10px rgb(249, 4, 163);
  margin-top: 25px;
}

.BOOK a {
  font-size: 1.5rem;
  color: white;
}

#screen {
  margin: 20px;
}

.blaagaard {
  width: 100%;
}

.grid-landing {
  margin: 20px 0;
}

.col p {
  margin: 0;
}

.col {
  margin: 20px 0;
}

@media (min-width: 600px) {
  .f-landing {
    justify-content: space-evenly;
  }

  .grid-landing {
    display: grid;
    grid-template-columns: fit-content(300px) fit-content(300px) 1fr;
    grid-template-rows: fit-content(300px) fit-content(300px) 1fr;
    justify-content: center;
    margin: 20px;
    gap: 20px 80px;
  }

  .col {
    margin: 0;
  }

  footer ul {
    display: flex;
    flex-direction: column;
  }
}
