h1 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 2rem;
}

h2 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 1.4rem;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 0.93;
}
footer a {
  color: white;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  text-align: center;
}
footer li {
  list-style: none;
  border-bottom: none;
}

@media (min-width: 600px) {
  .footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  .grid-some-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
  }
  .grid-some-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  ul {
    display: flex;
    flex-direction: column;
  }
}
